.search-form {
  background-image: url(../../images/search/bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  height: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin: 0;
  margin-top: 160px;
  margin-left: -50px;
  max-width: 545px;
}

.search-form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 32px auto 64px;
  max-width: 545px;
}

.search-form__form {
  display: flex;
  padding-left: 50px;
}

@media (max-width: 800px) {
  .search-form {
    height: 400px;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 355px;
    margin-left: -150px;
    margin-top: 104px;
  }

  .search-form__text {
    max-width: 450px;
    margin: 16px auto 48px;
  }

  .search-form__form {
    padding-left: 0;
  }
}

@media (max-width: 540px) {
  .search-form__title {
    align-self: start;
    margin-left: 40px;
    width: 100%;
  }

  .search-form__text {
    margin: 16px 40px 48px;
  }

  .search-form__form {
    width: calc(100% - 80px);
  }
}

@media (max-width: 450px) {
  .search-form {
    height: 536px;
  }

  .search-form__title {
    margin: 96px 16px 0;
  }

  .search-form__text {
    margin: 16px 16px 122px;
  }

  .search-form__form {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 32px);
  }
}
