.card {
  position: relative;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
}

.card__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card__img {
  width: 60%;
  margin: 15px auto 21px;
  border-radius: 20px 20px 0 0;
}

.card__container {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.card__title {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 auto 16px;
}

.card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0 0 10px;
}

.card__text-count {
  font-size: 20px;
  font-weight: 500;
}

.card__tooltip {
  position: absolute;
  top: 225px;
  left: 20px;
  padding: 14px 12px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: none;
  align-items: center;
  text-align: center;
  color: #000;
  border-radius: 10px;
  background-color: darkgray  ;
}

.card__tooltip_active {
  display: flex;
}

@media (max-width: 800px) {
  .card {
    max-width: 224px;
    max-height: 530px;
  }

  .card__container {
    margin: 16px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 auto 10px;
  }
}

@media (max-width: 767px) {
  .card {
    max-width:280px;
    max-height: 580px;
  }
}

@media (max-width: 500px) {
  .card__title {
    font-size: 22px;
    line-height: 28px;
    margin: 0 auto;
  }

  .card__text {
    margin: 0 0 8px;
  }
}
